/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Jemná pastelová modrá */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Biela s miernou priesvitnosťou */
    border: 3px solid #4682b4; /* Neutrálna modrá */
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.header h1 {
    color: #4682b4; /* Neutrálna modrá */
    font-size: 1.8em;
}

.problem-container {
    margin-top: 15px;
}

.problem {
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    background-color: #d3d3d3; /* Svetlá šedá */
    border-radius: 10px;
}

.answer-input {
    width: 90%;
    padding: 8px;
    font-size: 1em;
    margin: 10px 0;
    border: 2px solid #4682b4;
    border-radius: 5px;
}

.submit-btn {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #5a9bd3; /* Svetlejšia neutrálna modrá */
}

.feedback span {
    font-size: 1.2em;
    color: #4682b4;
    margin-top: 10px;
}

.statistics {
    margin-top: 15px;
    color: #4682b4;
}
